@import "../../Scss/_constants";

.home-section{
  background: url('#{$imgPath}/start_page_bg.jpg') no-repeat;
  height: calc(100vh - 100px);
  color: $ice;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 70%;
    margin: 0 auto;
  }
  .home-wrapper {
    @include flex(space-between, center, column);
    h1 {
      margin: 4rem;
      font: $font-main;
      font-size: 4rem;
    }
    .game-description {
      margin: 5rem;
      font: $font-main;
      color: $ice;
      svg {
        width: 2rem;
        height: 2rem;
        color: $ice;
        margin: 1rem;
      }
    }
  }

}